* {
	margin:0px;
	padding:0px;
}
body,html {

	height:100%
	background-color: #e6e6e6;
	font: 80% "Lucida Grande", Lucida, Verdana, sans-serif;
}

a {
	color:#000;
	text-decoration:none;
}
.clean {
	clear:both;
	font-size: 1px;
	border:none;
	margin: 0px;
	padding:0px;
	background: transparent;
}
.row {
	float:left;
}

dl.list {
	width:250px;
	margin-top: 10px;
	margin-bottom: 15px;
}
dl.list dt {
	float:left;
	display:block;
	width:35%;
	padding:5px 0px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}
dl.list dd {
	float:left;
	display:block;
	width:65%;
	padding:5px 0px;
	border-bottom:1px solid #ccc;	
}

ul.list {
	list-style: none;
	margin-top: 10px;
}
ul.list li:first {
	border-top:1px solid #aaa;
}
ul.list li {
	padding:4px 0px;
	position: relative;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top, #eee, #ccc);
	border-bottom:1px solid #aaa;
	padding-left:28px;
}
ul.list li span.checkmark {
	height:22px;
	width:25px;
	background:#fff;
	position: absolute;
	top:0px;
	left:0px;
	border:1px solid #aaa;
}
#toolbar {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:36px;
	-webkit-box-shadow: 0px 10px 40px #666;
	-moz-box-shadow: 0px 10px 40px #666;
	z-index:5;
	border-bottom:1px solid #373d41;
	border-top:1px solid #686f75;
	background: -webkit-gradient(linear, left top, left bottom, from(#585f65), to(#41494f));
	background: -moz-linear-gradient(top, #585f65, #41494f);
	padding: 8px 0px 0px 10px;
}
#toolbar .buttonset,
#toolbar .buttons {
	float:left;
	margin-right:7px;
	position: relative;
}


#toolbar a {
	font-size:1.2em;
	font-weight:bold;
	
	
	color:#000;
	cursor:pointer;
	display:inline-block;
	padding:5px 10px 6px;
	position:relative;
	text-decoration:none;
	
	position: relative;
}
#toolbar-action-save-fake {
	position: absolute;
	width:70px;
	height:28px;
	top:0px;
	left:148px;
	z-index:999;
	cursor: pointer;
	z-index:20;
}

#toolbar-action-open-fake {
	position: absolute;
	width:70px;
	height:28px;
	top:0px;
	left:72px;
	z-index:999;
	cursor: pointer;
	z-index:10;
}
#toolbar-action-open-fake input {
	opacity:0;
	height:28px;
	width:71px;
	cursor: pointer;
}
#toolbar-action-open-fake input:hover {
	cursor: pointer;
}

#toolbar-tools {
	z-index:30;
}
#sidebar-disabled {
	bottom:0px;
	left:0;
	position:fixed;
	top:45px;
	width:280px;
	z-index:11;
	opacity: 0.5;
	background:#000;
}
#sidebar {
	border-top:1px solid #373d41;
	bottom:0px;
	left:0;
	position:fixed;
	top:45px;
	width:280px;
	overflow-y: auto;
	background: #eee;
	z-index:10;
	-webkit-box-shadow: 10px 20px 40px #666;
	-moz-box-shadow: 10px 20px 40px #666;
}
	#sidebar ul {
	
	}
	#sidebar ul li {
		display:block;
		background:#fff;
	
	}
	#sidebar ul li input{
		display:inline;
	}
	#sidebar ul li:first h3 {
		border-top:0px;
	}
	#sidebar ul li h3{
		background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
		background: -moz-linear-gradient(top, #eee, #ccc);
		padding:7px 10px;
		border-bottom:1px solid #bbb;
		border-top:1px solid #bbb;
		position:relative;
	}

#wrapper {
	z-index:1;
	bottom:0px;
	left:280px;
	overflow-y:auto;
	position:fixed;
	right:0;
	top:34px;
	padding:10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#575757));
	background: -moz-linear-gradient(top, #919191, #575757);
}
#main {
	z-index:20;
	bottom:0px;
	left:280px;
	overflow-y:auto;
	position:fixed;
	right:0;
	top:45px;
	padding:10px;
}

/**
 * Layer Widget
 */
 
#layers {
	background:#fff;
	overflow:auto;

}

#layers ul li {
	background:#fff;
	padding:8px;
	font-weight:bold;
	border-bottom:1px solid #bbb;
	position: relative;
} 
#layers ul li.odd {
	background: #f6f6f6;
}
#layers ul li input {
	margin-right: 10px;
}

#layers ul li.ui-listview-hover {
	cursor:pointer;

}
#layers ul li.ui-listview-active {
	background: -webkit-gradient(linear, left top, left bottom, from(#585f65), to(#41494f));
	background: -moz-linear-gradient(top, #585f65, #41494f);
	color:#fff;
}

#layers ul li.ui-listview-active .draghandle {
	background: url('../images/draghandle.png') no-repeat;
}



/**
 * tileset widget
*/
#tilesets {
	position:absolute;
	left:80px;
	top:5px;
	height:20px;
}


/**
 * Draghandler
 */
.draghandle {
	width:19px;
	height:16px;
	background: url('../images/drag.png') no-repeat;
	display:block;
	position: absolute;
	right:5px;
	top:8px;
} 

/**
 * UI-subbar
*/

.ui-bar {
	border-bottom:1px solid #ccc;
	padding:8px 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
	background: -moz-linear-gradient(top, #ddd, #fff);
	clear:both;
	height:12px;
	
}

/**
 * UI-Slider
*/
.ui-slider-container dt{
	float:left;
	width:25%;
	font-weight:bold;
}
.ui-slider-container dd{
	float:left;
	width:70%;

}

/**
 * UI-Forms
*/

div.dialog {
	display:none;
}

fieldset {
	border:0 none;

	padding:0;
}
label, input {
	display:block;
}
input.text {
	margin-bottom:12px;
	padding:0.4em;
	width:95%;
}

/**
 * UI-Toolbar item
*/
.ui-toolbaritem {
	display:block;
	float:right;
	padding: 0px 10px;
	font-size:0.9em;
	padding-top:3px;
	-moz-border-radius:5px;
	background:-moz-linear-gradient(center top , #EEE, #AAA) repeat scroll 0 0 transparent;
	color:#fff;
	border:1px solid #888;
	margin-top:-4px;
	padding-bottom:3px;
	margin-right:5px;
}
.ui-toolbaritem:hover {
	background:-moz-linear-gradient(center top , #FFF, #BBB) repeat scroll 0 0 transparent;
}
.ui-toolbaritem:active {
	background:-moz-linear-gradient(center top , #AAA, #EEE) repeat scroll 0 0 transparent;
}


/**
 * Jquery UI Additions
 */
/*
.ui-button-text-icon .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding-left:25px !important;
}

.ui-button-icon-only .ui-icon,
.ui-button-text-icon .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	left: 5px;
}
.ui-button-text-only .ui-button-text {
	padding-top:0px !important;
	padding-bottom:0px !important;
}


#toolbar .ui-state-default, 
#toolbar .ui-widget-content .ui-state-default {
	-moz-border-radius:5px 5px 5px 5px !important;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5)  !important;
	background: -moz-linear-gradient(top, #eee, #ccc)  !important;	
	border-bottom:1px solid rgba(0, 0, 0, 0.25) !important;	
}


.ui-button-text {
	text-shadow:0 -1px 1px rgba(255, 255, 255, 0.25) !important;
	color:#000;
}
*/
.ui-button-icon-only {
	width:3.2em !important;
}
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text {
	padding-left:29px !important;
}
.ui-icon {
	left:5px;
}

/**
 * MapView
 */
div.map {
	overflow:hidden;
	background: transparent url('../images/map_background.png');
	position: relative;

}

div.overlay {
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	z-index:60;
	display:none;
}
div.map-container {
	position: relative;
	width:608px;
	height:448px;
	background: #fff;
}

div.map-container canvas {
	position: absolute;
	top:0px;
	left:0px;
}


/**
 * Cursor View
 */
div.cursor {
	margin-top:-3px;
	margin-left: -2px;
	z-index:9999;
	position: absolute;
	border:1px solid #000;
}
div.cursor div.cursor-tile-inner1 {
	border:3px solid #fff;
	height:100%;

}
div.cursor div.cursor-tile-inner2 {
	border:1px solid #000;
	width:27px;
	height:27px;

}

/**
 * Tileset DropView
 */


.dropzone  {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	border:8px dashed #ccc;
	-moz-border-radius: 8px;
	-webkit-border-radius:8px;
	color:#666666;
	font-size:20px;
	height:250px;
	width:250px;
}
.dropzone.hover {
	background:#f6f6f6;
	border:8px dashed #999;
	cursor:pointer;
}

#tmp {
	position:absolute;
	z-index:1;
	top:-6000px;
}
#tileset-file,
#map-file  {
	float:left;
	margin-left: 10px;
	
}
#tileset-file img{

	color:white;
	display:block;
	margin:0px auto;
	max-width:250px;
	max-height:250px;
	
 }

 /**
  * TilesetView
  */
#tileset {
	overflow:auto;
}
.tileset {
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	position: relative;
}
.tileset img {
	z-index:1;
	position: absolute;
}

.tileset div.tile {
	position: absolute;
	top:0px;
	left:0px;
	width:31px;
	height:31px;
	border-top:2px solid #ccc;
	border-left:2px solid #ccc;
	z-index:2;
}

.tileset div.tile:hover {
	background: #fff;
	-moz-opacity: 0.4;
	opacity:0.4;
	cursor: pointer;
}
.tileset div.tile.ui-selected {
	-moz-opacity: 0.5;
	opacity:0.5;

	background:#3078ca;
}

.tileset div.tile div.passage {
	display:none;
	height:100%;
	width:100%;
	background: transparent url('../images/passage.png') no-repeat left -32px;
}
.tileset div.tile div.passage.block {

	background-position: left top;
}
.tileset div.tile div.priority {
	display:none;
	height:100%;
	width:100%;
	background: transparent url('../images/priority.png') no-repeat left top;
}
.tileset div.tile div.priority.overlay {
	background-position: left -32px;
}

/**
 * custom icons
 */
.ui-icon-stamp {
	 background: transparent url('../images/1267010546_pencil.png') no-repeat left top !important;
}
.ui-icon-bucket {
	 background: transparent url('../images/1267010565_fill.png') no-repeat left top !important;
}

.ui-icon-eraser {
	 background: transparent url('../images/1267010584_eraser.png') no-repeat left top !important;
}

.ui-icon-collision {
	 background: transparent url('../images/collision.png') no-repeat left top !important;
}
.ui-icon-collision-layer {
	 background: transparent url('../images/collision_layer.png') no-repeat left top !important;
}
.ui-icon-grid {
	 background: transparent url('../images/grid.png') no-repeat left top !important;
}

.ui-icon-undo {
	 background: transparent url('../images/undo.png') no-repeat left top !important;
}


.ui-icon-redo {
	 background: transparent url('../images/redo.png') no-repeat left top !important;
}


.container {
	clear:both;
	float:left;
	margin:0 0 8px;
	width:100%;
}
.row {
	float:left;
}
.width50 {
	width:50%;
}


